#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
/* 2 */
.app {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  height: auto; 
}
.friend-list {
  margin-top: 10px;
}
ul {
gap: 15px;
list-style: none;
display: flex;
}
.friend-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 1px solid black; 
  padding: 40px;  
  border-radius: 10px;  
  background-color: #f0f0f0;  
  transition: transform 0.3s; 
  margin-bottom: 0; 
}
.friend-list-item:hover {
  transform: scale(1.05);  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}
.friend-list-item img {
  width: 100px;  
  height: 100px;    
}
.online {
  color: green;
}
.offline {
  color: red;
}
img {
margin: 0;
}
